<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokédex</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!-- Adiciona a música de fundo -->
<audio id="background-music" src="Theme.mp3" loop autoplay></audio>

<div id="app">
    <div class="search-container">
        <!-- Imagem do Rotom aumentada -->
        <img src="rotom.png" alt="Rotom" class="rotom-img">
        <div class="search-bar">
            <input type="text" placeholder="Digite o nome do Pokémon" v-model="searchText" @keyup.enter="searchPokemon">
            <button class="btn search-btn" @click="searchPokemon">Buscar</button> <!-- Botão de busca -->
            <button class="btn clear-btn" @click="clearSearch">Limpar</button> <!-- Botão para limpar a pesquisa -->
        </div>
        <!-- Retângulo estilizado verticalmente -->
        <div class="info-box">
            <p>A busca por aproximação do nome identifica qualquer trecho do nome do Pokémon desde que ele já tenha sido carregado na página.</p>
            <p>Para buscar um Pokémon que ainda não foi carregado, é necessário digitar o nome completo.</p>
        </div>
    </div>

    <!-- Show searched Pokemon, if available -->
    <div v-if="searchedPokemon">
        <ul>
            <li :style="getPokemonStyle(searchedPokemon)">
                <div class="pokemon-card">
                    <p>{{ searchedPokemon.name }}</p>
                    <div class="pokemon-img">
                        <img :src="searchedPokemon.sprites.other.showdown.front_default">
                    </div>
                    <p>{{ searchedPokemon.types[0].type.name }}</p>
                    <p v-if="searchedPokemon.types.length > 1">{{ searchedPokemon.types[1].type.name }}</p>
                </div>
            </li>
        </ul>
    </div>

    <!-- Pokémon list below -->
    <div class="pokemon-container">
        <ul>
            <li v-for="pokemon in filteredPokemons" :key="pokemon.id" :style="getPokemonStyle(pokemon)">
                <div class="pokemon-card">
                    <p>{{ pokemon.name }}</p>
                    <div class="pokemon-img">
                        <img :src="pokemon.sprites.other.showdown.front_default">
                    </div>
                    <p>{{ pokemon.types[0].type.name }}</p>
                    <p v-if="pokemon.types.length > 1">{{ pokemon.types[1].type.name }}</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="loading">
        <h1 v-if="loading">Loading...</h1>
    </div>
</div>

<script src="index.js"></script>
</body>
</html>
